<h1>
    Product detail works - <%= t("view_generic")%>
<h1>
<hr>

<%= image_tag @product.photo, width: "200px" if @product.photo.attached? %>
<h2 class="title_product"> 
    <%= @product.title.capitalize %>
</h2>
<span class="description_product">
    <%= @product.description %>
</span>
-
<span class="price_product">
    $ <%= @product.price %>
</span>
-
<span class="price_product">
    <%= @product.category.name %>
</span>

<p>
    <%= link_to "editar producto", edit_product_path(@product) if Current.user.present? && Current.user == @product.user %>
</p>


<%# <%= link_to "eliminar producto", delete_product_path(@product), data: {
    turbo_confirm: "¿Estas seguro de eliminar este producto?",
    turbo_method: :delete} 
%> 

<%# 
    formulario para eliminar producto 
        - controlador: product 
        - metodo: delete
%>
<%= form_for @product, method: :delete do |f| %>
    <%= f.submit "Eliminar este producto" %>
<% end if Current.user.present? && Current.user == @product.user %>

<p>
    <%= link_to products_path do %> regresar al listado de productos <%end%>
</p>

<%# ver mas productos del usuario actual %>
<% if Current.user.present? %>
    <%# traducción con parametros dinamicos %>
    <%= link_to t(".view_more_products", email: @product.user.username), user_path(@product.user) %>
<% end %>

<br/>
<br/>
<%# con un formulario %>
<% unless @product.favorites.where(user_id: Current.user.id).present? %>
    <%= form_with url: favorites_path(product_id: @product.id), method: :post do |f| %>
        <%= f.submit "❤️" %>
    <% end %>
<% end %>

